{% extends 'base.html' %}

{% block title %}
    Отзывы
{% endblock %}

{% block content %}
    <section class="section review">
        <div class="pagetitle">
            <h1>Удаление отзыва</h1>
        </div>
        <div class="row">

            <div class="card">
                <form method="post">
                    <div class="card-body barber-card pt-4 d-flex flex-column ">
                        {% csrf_token %}
                        <h2 style="margin: 0 0 0 0">Информация о отзыве:</h2>
                        <ul>
                            <li><h3 style="margin-top: 15px">Барбершоп: {{ review.barber.barbershop.name }}</h3></li>
                            <li><h3>Барбер: {{ review.barber.user.first_name }}</h3></li>
                            <li><h3>Время: {{ review.appointment.appointment_date }}
                                в {{ review.appointment.appointment_time.hour|time:'H:i' }}</h3></li>
                            <li><h3>Заголовок: {{ review.subject }}</h3></li>
                        </ul>
                        <p>Вы уверены, что хотите удалить этот отзыв?</p>


                        <div>
                            <input class="btn btn-outline-danger" type="submit" value="Удалить">

                            <button class="btn btn-outline-warning" type="button" onclick="window.history.back()"
                                    style="margin-left: 10px;">Назад
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </section>

{% endblock %}