{% extends 'base.html' %}
{% load static %}


{% block title %}
    Отзывы
{% endblock %}
{% block content %}
    <section class="section review">
        <div class="pagetitle">
            <h1>Оставьте свой отзыв</h1>
        </div>
        <div class="row">
            <div class="card">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="card-body barber-card pt-4 d-flex flex-column align-items-center">
                        <h5>{{ booking.barbershop.name }}</h5>
                        <img src="{{ booking.barber.user.profile_img.url }}"
                             alt="barber image" class="rounded-circle">
                        <h2>{{ booking.barber.user.first_name }}</h2>
                        <h3 class="text-muted small pt-2 ps-1">{{ booking.barber.qualification.name }}</h3>
                        <br>
                        <h3>{{ booking.appointment_date }} в {{ booking.appointment_time.hour|time:'H:i' }}</h3>

                        <div class="rate">

                            <input type="radio" name="rating" id="rating10" value="5" required
                                   {% if form.rating.value == 5 %}checked{% endif %}/><label for="rating10"
                                                                                             title="5"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" required
                                   {% if form.rating.value == 4.5 %}checked{% endif %}/><label for="rating9" title="4.5"
                                                                                               class="half"></label>
                            <input type="radio" name="rating" id="rating8" value="4" required
                                   {% if form.rating.value == 4 %}checked{% endif %}/><label for="rating8"
                                                                                             title="4"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" required
                                   {% if form.rating.value == 3.5 %}checked{% endif %}/><label for="rating7" title="3.5"
                                                                                               class="half"></label>
                            <input type="radio" name="rating" id="rating6" value="3" required
                                   {% if form.rating.value == 3 %}checked{% endif %}/><label for="rating6"
                                                                                             title="3"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" required
                                   {% if form.rating.value == 2.5 %}checked{% endif %}/><label for="rating5" title="2.5"
                                                                                               class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="2" required
                                   {% if form.rating.value == 2 %}checked{% endif %}/><label for="rating4"
                                                                                             title="2"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" required
                                   {% if form.rating.value == 1.5 %}checked{% endif %}/><label for="rating3" title="1.5"
                                                                                               class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="1" required
                                   {% if form.rating.value == 1 %}checked{% endif %}/><label for="rating2"
                                                                                             title="1"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" required
                                   {% if form.rating.value == 0.5 %}checked{% endif %}/><label for="rating1" title="0.5"
                                                                                               class="half"></label>
                        </div>
                        <h4 class="text-muted small pt-2 ps-1">Ваша оценка</h4>
                        <input type="text" class="form-control" name="subject" maxlength="100" placeholder="Заголовок"
                               {% if form.subject.value %}value="{{ form.subject.value }}"{% endif %} required>

                        <textarea name="review" rows="4" class="form-control" maxlength="500"
                                  placeholder="Отзыв">{% if form.review.value %}{{ form.review.value }}{% endif %}</textarea>
                        <br>

                    </div>
                    <div class="card-body barber-card pt-4 d-flex flex-column ">
                        {% if user.is_authenticated %}
                            <div>
                                <input type="submit" value="Отправить отзыв" class="btn btn-outline-success">
                                {% if review %}
                                    <a class="btn btn-outline-danger" href="{% url 'reviews:delete_review' review.pk %}"
                                       style="margin-left: 10px;">Удалить</a>
                                {% endif %}
                                <button class="btn btn-outline-warning" type="button" onclick="window.history.back()"
                                        style="margin-left: 10px;">Назад
                                </button>
                            </div>

                        {% else %}
                            <p>Вы должны войти в систему, чтобы оставить отзыв. <span><a
                                    href="{% url 'users:signin' %}">Войти сейчас</a></span>
                            </p>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

    </section>
{% endblock %}