{% extends 'base.html' %}
{% load static %}


{% block title %}
    Статистика
{% endblock %}
{% block content %}
    <section class="section dashboard">
        <div class="pagetitle">
            <div class="flex-row d-flex">
                <div class="col-xl-11 col-md-10 col-9 flex-column">
                    <h1>Статистика за {% if interim == "week" %}неделю{% elif interim == "month" %}месяц{% else %}
                        день{% endif %} для барбершопа:
                        {% if barbershop %}{{ barbershop.name }}{% endif %}{% if barber %} -
                            {{ barber.user.username }}{% endif %}</h1>
                </div>
                <div class="col-xl-1 col-md-2 col-3 flex-column float-left">
                    <div class="dropdown float-left">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button"
                                data-toggle="dropdown">
                            Барбер
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a
                                    href="{% url 'stats:day_stats_info' barbershop.pk %}">Общая статистика</a></li>

                            {% for barber in all_barbers %}
                                <li class="dropdown-item"><a
                                        href="{% url 'stats:day_stats_info_barber' pk=barbershop.pk barber_pk=barber.pk %}">{{ barber.user.first_name }}
                                    - {{ barber.user.username }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            {% if barber %}href="{% url 'stats:day_stats_info_barber' pk=barbershop.pk barber_pk=barber.pk %}"
                            {% else %}href="{% url 'stats:day_stats_info' pk=barbershop.pk %}"{% endif %}>Сегодня</a>
                    </li>
                    <li class="breadcrumb-item"><a
                            {% if barber %}href="{% url 'stats:week_stats_info_barber' pk=barbershop.pk barber_pk=barber.pk %}"
                            {% else %}href="{% url 'stats:week_stats_info' pk=barbershop.pk %}"{% endif %}>За неделю</a>
                    </li>
                    <li class="breadcrumb-item "><a
                            {% if barber %}href="{% url 'stats:month_stats_info_barber' pk=barbershop.pk barber_pk=barber.pk %}"
                            {% else %}href="{% url 'stats:month_stats_info' pk=barbershop.pk %}"{% endif %}>За месяц</a>
                    </li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Haircuts Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title">Услуги <span>| {% if interim == "week" %}За
                                    неделю{% elif interim == "month" %}За месяц{% else %}Сегодня{% endif %}</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center ">
                                        <i class="bi bi-scissors"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ current_appointments }}</h6>
                                        <span class="text-{% if appointments_difference < 0 %}danger{% else %}success{% endif %} small pt-1 fw-bold">{{ appointments_difference }}%</span>
                                        <span
                                                class="text-muted small pt-2 ps-1">{% if appointments_difference < 0 %}
                                            снижение{% else %}увеличение{% endif %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- End Haircuts Card -->


                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">

                            <div class="card-body">
                                <h5 class="card-title">Прибыль <span>| {% if interim == "week" %}За
                                    неделю{% elif interim == "month" %}За месяц{% else %}Сегодня{% endif %}</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cash-stack"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 {% if current_revenue > 999 %}style="font-size: 20px;"{% endif %}>{{ current_revenue }}
                                            BYN</h6>
                                        <span class="text-{% if revenue_difference < 0 %}danger{% else %}success{% endif %} small pt-1 fw-bold">{{ revenue_difference }}%</span>
                                        <span
                                                class="text-muted small pt-2 ps-1">{% if revenue_difference < 0 %}
                                            снижение{% else %}увеличение{% endif %}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">

                            <div class="card-body">
                                <h5 class="card-title">Посетители <span>| {% if interim == "week" %}За
                                    неделю{% elif interim == "month" %}За месяц{% else %}Сегодня{% endif %}</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ current_customers }}</h6>
                                        <span class="text-{% if customers_difference < 0 %}danger{% else %}success{% endif %} small pt-1 fw-bold">{{ customers_difference }}%</span>
                                        <span
                                                class="text-muted small pt-2 ps-1">{% if customers_difference < 0 %}
                                            снижение{% else %}увеличение{% endif %}</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->
                </div>
                <!-- Reports -->
                <div class="col-12">
                    <div class="card">


                        <div class="card-body">
                            <h5 class="card-title">Услуги <span>/ {% if interim == "week" %}Эта неделя -
                                Предыдущая{% elif interim == "month" %}Этот месяц - Предыдущий{% else %}
                                Сегодня - Вчера{% endif %}</span></h5>

                            <!-- Line Chart -->
                            <div id="reportsChartHaircuts"></div>

                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#reportsChartHaircuts"), {
                                        series: [{
                                            name: 'Услуги за {% if interim == "week" %}неделю'+
                                                '{% elif interim == "month"%}'+
                                                'месяц{% else %}сегодня{% endif %}',
                                            data: {{current_appointments_per_interim|safe}},
                                        }, {
                                            name: 'Услуги за {% if interim == "week" %}'+
                                                'предыдущую неделю{% elif interim == "month"%}'+
                                                'предыдущий месяц{% else %}вчера{% endif %}',
                                            data: {{previous_appointments_per_interim|safe}},
                                        },],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                                show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#4154f1', '#f1416a',],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                                shadeIntensity: 1,
                                                opacityFrom: 0.3,
                                                opacityTo: 0.4,
                                                stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {

                                            categories: {{ time|safe }}
                                        },

                                    }).render();
                                });
                            </script>
                            <!-- End Line Chart -->

                        </div>

                    </div>

                    <div class="col-12">

                        <div class="card">


                            <div class="card-body pb-0">
                                <h5 class="card-title">Прибыль <span>/ {% if interim == "week" %}Эта неделя -
                                    Предыдущая{% elif interim == "month" %}Этот месяц - Предыдущий{% else %}
                                    Сегодня - Вчера{% endif %}</span></h5>

                                <!-- Line Chart -->
                                <div id="reportsChartRevenue"></div>

                                <script>
                                    document.addEventListener("DOMContentLoaded", () => {
                                        new ApexCharts(document.querySelector("#reportsChartRevenue"), {
                                            series: [{
                                                name: 'Прибыль за {% if interim == "week" %}'+
                                                    'за неделю{% elif interim == "month"%}за месяц{% else %}'+
                                                    'сегодня{% endif %}',
                                                data: {{current_revenue_per_interim|safe}},
                                            }, {
                                                name: 'Прибыль за {% if interim == "week" %}'+
                                                    'предыдущую неделю{% elif interim == "month"%}'+
                                                    'предыдущий месяц{% else %}вчера{% endif %}',
                                                data: {{previous_revenue_per_interim|safe}},
                                            },],
                                            chart: {
                                                height: 350,
                                                type: 'area',
                                                toolbar: {
                                                    show: false
                                                },
                                            },
                                            markers: {
                                                size: 4
                                            },
                                            colors: ['#2eca6a', '#f1416a'],
                                            fill: {
                                                type: "gradient",
                                                gradient: {
                                                    shadeIntensity: 1,
                                                    opacityFrom: 0.3,
                                                    opacityTo: 0.4,
                                                    stops: [0, 90, 100]
                                                }
                                            },
                                            dataLabels: {
                                                enabled: false
                                            },
                                            stroke: {
                                                curve: 'smooth',
                                                width: 2
                                            },
                                            xaxis: {

                                                categories: {{ time|safe }}
                                            },

                                        }).render();
                                    });
                                </script>
                                <!-- End Line Chart -->

                            </div>

                        </div>
                    </div><!-- End Reports -->
                </div><!-- End Reports -->

                <div class="col-12">
                    <div class="card">


                        <div class="card-body pb-0">
                            <h5 class="card-title">Посетители <span>/ {% if interim == "week" %}Эта неделя -
                                Предыдущая{% elif interim == "month" %}Этот месяц - Предыдущий{% else %}
                                Сегодня - Вчера{% endif %}</span></h5>

                            <!-- Line Chart -->
                            <div id="reportsChartCustomers"></div>

                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#reportsChartCustomers"), {
                                        series: [{
                                            name: 'Посетителей за {% if interim == "week" %}'+
                                                'неделю{% elif interim == "month"%}'+
                                                'месяц{% else %}сегодня{% endif %}',
                                            data: {{current_customers_per_interim|safe}},
                                        }, {
                                            name: 'Посетителей за {% if interim == "week" %}'+
                                                'предыдущую неделю{% elif interim == "month"%}'+
                                                'предыдущий месяц{% else %}вчера{% endif %}',
                                            data: {{previous_customers_per_interim|safe}},
                                        },],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                                show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#ff771d', '#f1416a'],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                                shadeIntensity: 1,
                                                opacityFrom: 0.3,
                                                opacityTo: 0.4,
                                                stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {

                                            categories: {{ time|safe }}
                                        },

                                    }).render();
                                });
                            </script>
                            <!-- End Line Chart -->

                        </div>

                    </div>
                </div><!-- End Reports -->

            </div><!-- End Left side columns -->

            <!-- Right side columns -->

            <div class="col-lg-4">

                <div class="col-xxl-12 col-xl-12">
                    <div class="card review-card info-card">

                        <div class="card-body">
                            <h5 class="card-title">Оценки<span> | {% if interim == "week" %}За
                                неделю{% elif interim == "month" %}За месяц{% else %}Сегодня{% endif %}</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-star"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ current_reviews }} отзывов</h6>
                                    <span class="text-muted small pt-1 fw-bold">средняя</span>
                                    <span class="text-{% if current_average_rating > 3.5 %}success{% else %}danger{% endif %} small pt-1 fw-bold">{{ current_average_rating }}</span>
                                    <span
                                            class="text small pt-2 ps-1"><i class="bi bi-star-fill"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card">

                    <div class="card-body pb-0">
                        <h5 class="card-title">Оценки<span> | {% if interim == "week" %}За
                            неделб{% elif interim == "month" %}За месяц{% else %}Сегодня{% endif %}</span></h5>

                        <div id="ReviewsChart" style="min-height: 400px;" class="echart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#ReviewsChart")).setOption({
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        top: '0%',
                                        left: 'center'
                                    },
                                    series: [{
                                        name: "Оценка",
                                        type: 'pie',
                                        radius: ['40%', '70%'],
                                        avoidLabelOverlap: false,
                                        label: {
                                            show: false,
                                            position: 'center'
                                        },
                                        emphasis: {
                                            label: {
                                                show: true,
                                                fontSize: '18',
                                                fontWeight: 'bold'
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                        data: [
                                            {%  if reviews_info%}
                                                {% for review_name, review_value in reviews_info.items %}
                                                    {
                                                        value: {{review_value}},
                                                        name: '{{review_name}}'
                                                    },
                                                {% endfor %}
                                            {% else %}
                                                {
                                                    value: 0,
                                                    name: 'Никто не оставил отзыв :('
                                                },


                                            {% endif %}
                                        ]
                                    }]
                                });
                            });
                        </script>
                    </div>

                </div>
                <!-- Website Traffic -->
                <div class="card">

                    <div class="card-body pb-0">
                        <h5 class="card-title">Производительность барберов <span>| {% if interim == "week" %}За
                            неделю{% elif interim == "month" %}За месяц{% else %}Сегодня{% endif %}</span></h5>

                        <div id="BarberProductivityChart" style="min-height: 400px;" class="echart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#BarberProductivityChart")).setOption({
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        top: '5%',
                                        left: 'center'
                                    },
                                    series: [{
                                        name: "Логин барбера",
                                        type: 'pie',
                                        radius: ['40%', '70%'],
                                        avoidLabelOverlap: false,
                                        label: {
                                            show: false,
                                            position: 'center'
                                        },
                                        emphasis: {
                                            label: {
                                                show: true,
                                                fontSize: '18',
                                                fontWeight: 'bold'
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                        data: [
                                            {%  if barber_productivity%}
                                                {% for barber_name, barber_value in barber_productivity.items %}
                                                    {
                                                        value: {{barber_value}},
                                                        name: '{{barber_name}}'
                                                    },
                                                {% endfor %}
                                            {% else %}
                                                {
                                                    value: 0,
                                                    name: 'Никто не работал :('
                                                },
                                            {% endif %}
                                        ]
                                    }]
                                });
                            });
                        </script>

                    </div>
                </div><!-- End Website Traffic -->


            </div>


            {% if interim == "week" or interim == "month" %}
                <div class="col-lg-12">
                    <div class="col-xxl-12 col-md-12">
                        <div class="card">

                            <div class="card-body pb-0">
                                <h5 class="card-title">Часы максимальной загрузки<span>/ {% if interim == "week" %}За
                                    неделю{% elif interim == "month" %}За месяц{% else %}Сегодня{% endif %}</span></h5>
                                <!-- Line Chart -->
                                <div id="reportsChartMaxLoad"></div>

                                <script>
                                    document.addEventListener("DOMContentLoaded", () => {
                                        new ApexCharts(document.querySelector("#reportsChartMaxLoad"), {
                                            series: [{
                                                name: "Поситителей за час",
                                                data: {{max_load_per_interim|safe}}
                                            }],
                                            chart: {
                                                height: 350,
                                                type: 'area',
                                                toolbar: {
                                                    show: false
                                                },
                                            },
                                            plotOptions: {
                                                bar: {
                                                    columnWidth: '45%',
                                                    distributed: true,
                                                }
                                            },
                                            dataLabels: {
                                                enabled: false
                                            },
                                            legend: {
                                                show: false
                                            },
                                            colors: ['#9641f1',],
                                            xaxis: {
                                                categories: {{ max_load_hours|safe }},
                                                labels: {
                                                    style: {
                                                        fontSize: '12px'
                                                    }
                                                }
                                            },

                                        }).render();
                                    });
                                </script>
                                <!-- End Line Chart -->

                            </div>

                        </div>
                    </div><!-- End Reports -->
                </div>
            {% endif %}
        </div>

    </section>

    <!-- Vendor JS Files -->
    <script src="/static/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/static/vendor/echarts/echarts.min.js"></script>

{% endblock %}