{% extends 'base.html' %}
{% load static %}


{% block title %}
    Home
{% endblock %}
{% block content %}
    <section class="section barbershop">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-12">
                    <div class="pagetitle">

                        <div class="rating-star">
                            <h1>{{ barbershop.name }}

                                <i class="fa fa-star{% if barbershop.rating < 0.5 %}-o{% elif barbershop.rating >= 0.5 and barbershop.rating < 1 %}-half-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-star{% if barbershop.rating < 1.5 %}-o{% elif barbershop.rating >= 1.5 and barbershop.rating < 2 %}-half-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-star{% if barbershop.rating < 2.5 %}-o{% elif barbershop.rating >= 2.5 and barbershop.rating < 3 %}-half-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-star{% if barbershop.rating < 3.5 %}-o{% elif barbershop.rating >= 3.5 and barbershop.rating < 4 %}-half-o {% endif %}"
                                   aria-hidden="true"></i>
                                <i class="fa fa-star{% if barbershop.rating < 4.5 %}-o{% elif barbershop.rating >= 4.5 and barbershop.rating < 5 %}-half-o {% endif %}"
                                   aria-hidden="true"></i>
                            </h1>
                        </div>

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Barbershop</li>
                            </ol>
                        </nav>
                    </div><!-- End Page Title -->
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-xll-12">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="col-lg-12">
                            {% if barbershop %}


                                <div class="col-xxl-12 col-xl-12">
                                    <div class="card mb-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card-body">
                                                    {#                                                    <div class="pt-4 d-flex flex-column align-items-center">#}
                                                    {#                                                        <img src="/media/{{ barbershop.main_photo }}"#}
                                                    {##}
                                                    {#                                                             alt='{{ barbershop.name }}' class="img-fluid barbershop-img">#}
                                                    {#                                                    </div>#}
                                                    <div class="card-title">Описание:</div>
                                                    <p class="card-text"
                                                       style="margin-top: 10px">{{ barbershop.full_description }}</p>
                                                </div>
                                                <div class="card-body ">
                                                    <a class="btn btn-outline-success"
                                                       href="{% url 'services:booking' %}?barbershop={{ barbershop.id }}">Записаться
                                                        на услуги</a>
                                                    {% if perms.users.can_add_barber %}
                                                        <a class="btn btn-outline-info"
                                                           href="{% url 'stats:day_stats_info' barbershop.pk %}">Статистика</a>
                                                    {% endif %}
                                                    <button class="btn btn-outline-warning" type="button"
                                                            onclick="window.history.back()"
                                                            style="margin-left: 10px;">Back
                                                    </button>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>



                            {% else %}
                                <p>No barbershops are available.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <section class="section contact">
                            <div class="row gy-4">

                                <div class="col-xl-12">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="info-box card">
                                                <i class="bi bi-clock"></i>
                                                <h3>Open Hours</h3>

                                                <p>{{ working_time.0|time:'H:i' }} - {{ working_time.1|time:'H:i' }}</p>

                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="info-box card">
                                                <i class="bi bi-geo-alt"></i>
                                                <h3>Address</h3>
                                                <p>{{ barbershop.city.name }}, {{ barbershop.address }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="info-box card">
                                                <i class="bi bi-telephone"></i>
                                                <h3>Call Us</h3>
                                                <p>{{ barbershop.phone_number }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="info-box card">
                                                <i class="bi bi-envelope"></i>
                                                <h3>Email Us</h3>
                                                <p>{{ barbershop.email }}</p>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>

                </div>
                {% if reviews %}
                    <section class="section review">
                        <div class="col-xxl-12 col-xl-12">
                            <div class="card">

                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <h2 style="font-size: 24px; margin-top: 5px">Отзывы</h2>
                                                </div>

                                                <div class="col-sm-3">

                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="dropdown">
                                                                <button class="btn btn-outline-dark dropdown-toggle"
                                                                        type="button"
                                                                        data-toggle="dropdown">
                                                                    Рейтинг
                                                                    <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                    <li class="text-center"><a
                                                                            href="{% url 'detail' barbershop.pk %}?sorted=up">по
                                                                        возрастанию</a></li>
                                                                    <hr>
                                                                    <li class="text-center"><a
                                                                            href="{% url 'detail' barbershop.pk %}?sorted=down">по
                                                                        убыванию</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="dropdown">
                                                                <button class="btn btn-outline-dark dropdown-toggle"
                                                                        type="button"
                                                                        data-toggle="dropdown">
                                                                    Дата публикации
                                                                    <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                    <li class="text-center"><a
                                                                            href="{% url 'detail' barbershop.pk %}?date=up">по
                                                                        возрастанию</a></li>
                                                                    <hr>
                                                                    <li class="text-center"><a
                                                                            href="{% url 'detail' barbershop.pk %}?date=down">по
                                                                        убыванию</a>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% for review in reviews %}
                                        <hr>
                                        <article class="box mb-3">
                                            <div class="icontext w-100">
                                                <div class="d-flex align-items-center">
                                                    <div class=" d-flex align-items-center justify-content-center ">
                                                        <img src="{{ review.user.profile_img.url }}"
                                                             style="width: 50px; height: 50px"
                                                             alt="My Image" class="rounded-circle">
                                                    </div>
                                                    <div class="ps-3">
                                                        <h5 class="mb-1">{{ review.user.first_name }}</h5>
                                                        <div class="rating-star">
                                            <span>
                                                <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                                                   aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                                                   aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                                                   aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                                                   aria-hidden="true"></i>
                                                <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                                                   aria-hidden="true"></i>
                                            </span>
                                                            <span
                                                                    class="date text-muted float-md-right"> {{ review.updated_time }} </span>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div> <!-- icontext.// -->

                                            <h4 style="font-size: 22px; margin-top: 10px">{{ review.subject }}</h4>

                                            <h3 class="text-muted small pt-2 ">{{ review.review }}</h3>


                                        </article>

                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </section>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}