{% extends 'base.html' %}
{% load static %}


{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="row justify-content-md-center ">
            {% for day in appointment %}
                <div class="row">
                    <div class="col-md-8 mx-auto row-gap-3 shadow-sm p-3 mb-2 bg-body-tertiary rounded">
                        <p>{{ day.day }}</p>
                        <p>{{ day.date }}</p>
                        <div class="d-flex flex-row">
                            {% for time in  day.free_time %}
                                <div class="row-md-8 mx-auto shadow-sm p-3 mb-2 bg-body-tertiary rounded">
                                    <a href="

                                            {% url 'services:booking' %}{% if barbershop %}?barbershop={{ barbershop.id }}{% endif %}{% if barber %}&barber={{ barber.id }}{% endif %}{% if service %}&service={{ service.id }}{% endif %}{% if appointment %}&appointment={{ day.date }}-{{ time.hour|time:'H:i' }}{% endif %}">{{ time.hour|time:'H:i' }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}