{% extends 'base.html' %}
{% load static %}


{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="row justify-content-md-center">
            <br>
            <slot>Barbershop:</slot>
            {{ barbershop.name }}
            <br>

            <div class="row shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <div class="col">
                    <a href="


                            {% url 'services:barbers' %}{% if barbershop %}?barbershop={{ barbershop.id }}{% endif %}{% if barber %}&barber={{ barber.id }}{% endif %}{% if service %}&service={{ service.id }}{% endif %}{% if appointment %}&appointment={{ appointment }}{% endif %}">Barbers</a>
                    {% if service %}
                        <a href="


                                {% url 'services:barbers' %}{% if barbershop %}?barbershop={{ barbershop.id }}{% endif %}{% if barber %}&barber={{ barber.id }}{% endif %}{% if appointment %}&appointment={{ appointment }}{% endif %}">
                            <slot>All Barbers</slot>
                        </a>

                    {% endif %}
                </div>
                <div class="col-md-auto">
                    {% if barber %}
                        <p>{{ barber }}</p>
                    {% endif %}
                </div>
            </div>


            <div class="row shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <div class="col">
                    <a href="

                            {% url 'services:services' %}{% if barbershop %}?barbershop={{ barbershop.id }}{% endif %}{% if barber %}&barber={{ barber.id }}{% endif %}{% if service %}&service={{ service.id }}{% endif %}{% if appointment %}&appointment={{ appointment }}{% endif %}">Services</a>
                    {% if barber %}
                        <a href="

                                {% url 'services:services' %}{% if barbershop %}?barbershop={{ barbershop.id }}{% endif %}{% if service %}&service={{ service.id }}{% endif %}{% if appointment %}&appointment={{ appointment }}{% endif %}">All
                            Services</a>
                    {% endif %}
                </div>
                <div class="col-md-auto">
                    {% if service %}
                        <p>{{ service }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <div class="col">
                    <a href="

                            {% url 'services:appointment' %}{% if barbershop %}?barbershop={{ barbershop.id }}{% endif %}{% if barber %}&barber={{ barber.id }}{% endif %}{% if service %}&service={{ service.id }}{% endif %}{% if appointment %}&appointment={{ appointment }}{% endif %}">Appointment</a>
                </div>
                <div class="col-md-auto">
                    {% if appointment %}
                        <p>{{ appointment }}</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}