{% extends 'base.html' %}

{% block title %}
    Запись
{% endblock %}

{% block content %}
    <section class="section review">

        <div class="pagetitle">
            <h1>Отмена записи</h1>
        </div>
        <div class="row">
            <div class="card">
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body barber-card pt-4 d-flex flex-column ">
                        <h2 style="margin: 0 0 0 0">Информация о записи:</h2>
                        <ul>
                            <li><h3 style="margin-top: 15px">Барбершоп: {{ booking.barber.barbershop.name }}</h3></li>
                            <li><h3>Барбер: {{ booking.barber.user.first_name }}</h3></li>
                            <li><h3>Время: {{ booking.appointment_date }}
                                в {{ booking.appointment_time.hour|time:'H:i' }}</h3></li>
                        </ul>

                        <p>Вы уверены что хотите отменить запись?</p>
                        <div>
                            <input class="btn btn-outline-danger" type="submit" value="Отменить">

                            <button class="btn btn-outline-warning" type="button" onclick="window.history.back()"
                                    style="margin-left: 10px;">Назад
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}